<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div class="pt-3 text-center">
        <h2>Out of stock</h2>
        <div class="d-flex align-items-center justify-content-center">
            <div class="border border-bottom border-3 border-success" style="width:4rem"></div>
        </div>
    </div>

    <div class="row py-4">
        {% for product in products %}
        <div class="card border-light col-3 my-3 border-0" style="">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p class="card-text text-center">
                <div class="text-muted">
                    {{product.name}}
                </div>
                <h6 class="font-weight-bold">${{product.price}}</h6>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="/outofstock/" method="POST" enctype="multipart/form-data" class="bg-light p-3">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary w-100">Add</button>
    </form>


</div>

<div class="bg-light mt-3">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="my-2"><strong>Finki Exam</strong></div>
                    <div class="my-2">Test apsldf</div>
                    <div class="my-2">Test apsldf</div>
                    <div class="my-2">Test apsldf</div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="my-2"><strong>Finki Exam</strong></div>
                    <div class="">Test apsldf</div>
                    <div class="">Test apsldf</div>
                    <div class="">Test apsldf</div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="my-2"><strong>Finki Exam</strong></div>
                    <div class="">Test apsldf</div>
                    <div class="">Test apsldf</div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>