<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="background-image: url('https://static.mycity.travel/manage/uploads/8/59/67650/1/vols-en-montgolfiere_1080.jpg');
   width:100%;background-position:center; background-size: cover;height: 450px !important; text:white"
 class="text-white">
    <div class="p-5">
        <div class="ps-4 ps-5 pt-3">
            <h1 class="ps-5 pt-4">Honest, Quality Work</h1>
            <h1 class="ps-5 fw-bold">AT AFFORDABLE PRICES</h1>
            <button class="ms-5 mt-3 btn btn-primary rounded-0"> GET FREE QUOTES</button>
        </div>
    </div>

</div>