{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-8">
            <h1 class="row"> Welcome to your profile</h1>
            <div>
                <h3 class="row">Bio: </h3>
                <p>{{ user.bio }}</p>
                <div>
                    <strong>Interests: </strong> {{ user.interests }}
                </div>
                <div>
                    <strong>Profession: </strong> {{ user.profession }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center col-4">
            <img src="{{ user.avatar.url }}" alt="user avatar"  style="height:20rem; width: 20rem">
        </div>

    </div>

<h2>Posts by you: </h2>
    {% for post in posts %}
        <div class="card my-4">
            <div class="card-header">
                Post by {{ post.author }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <div class="col-3">
                        <img src="{{ post.author.avatar.url }}" alt="avatar" style="height:10rem; width: 10rem">
                    </div>
                </div>


                <div class="card-footer text-muted">
                    Date posted: {{ post.created_at|date:"F d, Y" }}
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
